*{
    box-sizing: border-box;
}

body{
    width:1900px;

}
section{
    background-color:#88c1d0;
    border:2px solid green;
    width:300px;
    height:200px;
    /* display: flex;
    justify-content: space-around; */
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width:1600px) and (max-width:1900px){

    html{
        width: 100%;
    }
    body{
        display: flex;
        justify-content: space-around;
    }
   section{
        background-color:#88c1d0;
        display: flex;
        width:25%;
        height:200px;
        

    }



}

@media screen and (min-width:768px) and (max-width:1599px){

    html{
        width: 100%;
    }
   section{
        width:100%;
        background-color: #88c1d0;
        display: flex;
        flex-wrap: wrap;
    }



}

@media screen and (max-width:767px){
    html{
        width: 100%;
    }
   section{
        width:100%;
        height:200px;
        background-color:#88c1d0;
        display: flex;
        flex-direction: column;
    }


}